<nav class="sidemenu">
    <ul>
        <li routerLink="/home">
            <img src="../../../assets/angular.png" width="30%">
            <span class="logo">Crud Matérias</span>
        </li>
        <li routerLink="/home"> <mat-icon>home</mat-icon>Home</li>
        <li routerLink="/materias"><mat-icon>school</mat-icon>Matérias</li>
        <a href="https://angular.dev/" target="_blank"><li><mat-icon>code</mat-icon>Angular</li></a>
        <li  routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>